.quiz-section * {
    font-family: "Montserrat";
}

body {
    margin: 0;
    padding: 0;
}

.quiz-section {
    background-color: #133981;
    padding: 50px 0;
}

.quiz-section .quiz-form {
    max-width: 540px;
    margin: 0 auto;
}

.container {
   max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.quiz-section input {
    background-color: #ffffff;
    color: #000;
    height: 39px;
    padding: 0 13px;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
}

.quiz-section input + input {
    margin-top: 20px;
}

.quiz-section input::placeholder {
    font-size: 12px;
    line-height: 12px;
    color: #000;
}

.quiz-section .quiz-step:not(:last-of-type) {
    margin-bottom: 12px;
}

.quiz-section .quiz-step .quiz-step-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}

.quiz-section .error-text {
    color: #e90f0f;
    margin-top: 5px;
    font-size: 14px;
}

.quiz-section .input-error {
    border: 1px solid #e90f0f;
}

.quiz-section .quiz-navigation {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.quiz-section .quiz-navigation .quiz-submit {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    background: rgba(255, 182, 78, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    height: 59px;
    padding: 0 40px;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
}
